.App {
  text-align: center;
}
.app__headText {
  font-size: 40px;
  margin: 10px;
}
.app__headUser {
  margin: auto;
}
.app__form {
  padding: 20px;
  width: 89%;
  background-color: #e9e9eb;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  margin: 20px;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
